#include "../include/resources/resources.h"


IDB_HERO        BITMAP "../assets/bitmaps/hero1.bmp"
IDB_HERO_MASK   BITMAP "../assets/bitmaps/hero1_mask.bmp"

IDB_ARROW       BITMAP "../assets/bitmaps/arrowWhite1.bmp"
IDB_ARROW_MASK  BITMAP "../assets/bitmaps/arrowBlack1.bmp"

IDB_WALL        BITMAP "../assets/bitmaps/bg11.bmp"
IDB_BACKGROUND  BITMAP "../assets/bitmaps/bg.bmp"

IDB_TORCH       BITMAP "../assets/bitmaps/torchWhite.bmp"
IDB_TORCH_MASK  BITMAP "../assets/bitmaps/torchBlack.bmp"

IDR_HARPOON_SOUND  WAVE "../assets/sounds/shoot.wav"
IDR_BALLOON_POP    WAVE "../assets/sounds/bubble-pop-06-351337.wav"

IDB_LEVEL_WHITE       BITMAP "../assets/bitmaps/levelPlaceholderWhite1.bmp"
IDB_LEVEL_BLACK       BITMAP "../assets/bitmaps/levelPlaceholderBlack1.bmp"

IDB_HEART_MASK    BITMAP "../assets/bitmaps/heartBlack.bmp"
IDB_HEART         BITMAP "../assets/bitmaps/heartWhite.bmp"

IDB_HEART_BORDER_MASK     BITMAP "../assets/bitmaps/borderBlack.bmp"
IDB_HEART_BORDER          BITMAP "../assets/bitmaps/borderWhite.bmp"

IDB_HEART_BKG_MASK        BITMAP "../assets/bitmaps/heartBackgroundBlack.bmp"
IDB_HEART_BKG             BITMAP "../assets/bitmaps/heartBackgroundWhite.bmp"

IDB_RESTART                 BITMAP "../assets/bitmaps/restartWhite.bmp"
IDB_RESTART_MASK            BITMAP "../assets/bitmaps/restartBlack.bmp"

IDB_HOME                 BITMAP "../assets/bitmaps/homeButtonWhite.bmp"
IDB_HOME_MASK            BITMAP "../assets/bitmaps/homeButtonBlack.bmp"

IDB_NEXT_MASK            BITMAP "../assets/bitmaps/nextButtonBlack.bmp"
IDB_NEXT                 BITMAP "../assets/bitmaps/nextButtonWhite.bmp"

IDB_WALL1                BITMAP "../assets/bitmaps/zid1.bmp"
IDB_WALL2                BITMAP "../assets/bitmaps/zid2.bmp"

IDR_MINI_FONT   RCDATA  "../assets/font/KenneyMiniSquare.ttf"

IDB_MENU_SCREEN    BITMAP "../assets/bitmaps/menuscreen_clean.bmp"

IDB_MENU_CHARACTER      BITMAP "../assets/bitmaps/start-screen1.bmp"
IDB_MENU_CHARACTER_MASK  BITMAP "../assets/bitmaps/start-screen1_mask.bmp"

//IDB_BUTTONS_HOLDER BITMAP "../assets/buttonsholder1.bmp"

//IDB_BUTTONS_HOLDER_MASK BITMAP "../assets/buttonsholder1_mask.bmp"

IDC_GAME_CURSOR   CURSOR   "../assets/cursor/pinkBubble.cur"

IDB_BUTTONS_HOLDER BITMAP "../assets/bitmaps/menu.bmp"

IDB_BUTTONS_HOLDER_MASK BITMAP "../assets/bitmaps/menu_mask.bmp"

IDB_MENU_BUTTON      BITMAP "../assets/bitmaps/button.bmp"
IDB_MENU_BUTTON_MASK BITMAP "../assets/bitmaps/button_mask.bmp"
