#include "../include/resources/resources.h"


IDB_HERO        BITMAP "../assets/bitmaps/hero1.bmp"
IDB_HERO_MASK   BITMAP "../assets/bitmaps/hero1_mask.bmp"

IDB_ARROW       BITMAP "../assets/bitmaps/arrowWhite1.bmp"
IDB_ARROW_MASK  BITMAP "../assets/bitmaps/arrowBlack1.bmp"

IDB_WALL        BITMAP "../assets/bitmaps/wall6.bmp"
IDB_BACKGROUND  BITMAP "../assets/bitmaps/bg.bmp"
IDB_BACKGROUND_LEVEL2  BITMAP "../assets/bitmaps/bgImage3.bmp"
IDB_BACKGROUND_LEVEL3  BITMAP "../assets/bitmaps/bgImage4.bmp"
IDB_LONG_WALL          BITMAP  "../assets/bitmaps/stub.bmp"

IDB_TORCH       BITMAP "../assets/bitmaps/torchWhite.bmp"
IDB_TORCH_MASK  BITMAP "../assets/bitmaps/torchBlack.bmp"

IDR_HARPOON_SOUND  WAVE "../assets/sounds/shoot.wav"
IDR_BALLOON_POP    WAVE "../assets/sounds/bubble-pop-06-351337.wav"

IDB_LEVEL_WHITE       BITMAP "../assets/bitmaps/playerHolderWhite.bmp"
IDB_LEVEL_BLACK       BITMAP "../assets/bitmaps/playerHolderBlack.bmp"
IDB_SCORE_HOLDER      BITMAP "../assets/bitmaps/holderScore.bmp"
IDB_HEART_MASK    BITMAP "../assets/bitmaps/heartBlack.bmp"
IDB_HEART         BITMAP "../assets/bitmaps/heartWhite.bmp"

IDB_HEART_BORDER_MASK     BITMAP "../assets/bitmaps/borderBlack.bmp"
IDB_HEART_BORDER          BITMAP "../assets/bitmaps/borderWhite.bmp"

IDB_HEART_BKG_MASK        BITMAP "../assets/bitmaps/heartBackgroundBlack.bmp"
IDB_HEART_BKG             BITMAP "../assets/bitmaps/heartBackgroundWhite.bmp"

IDB_RESTART                 BITMAP "../assets/bitmaps/restartWhite.bmp"
IDB_RESTART_MASK            BITMAP "../assets/bitmaps/restartBlack.bmp"

IDB_HOME                 BITMAP "../assets/bitmaps/homeButtonWhite.bmp"
IDB_HOME_MASK            BITMAP "../assets/bitmaps/homeButtonBlack.bmp"

IDB_NEXT_MASK            BITMAP "../assets/bitmaps/nextButtonBlack.bmp"
IDB_NEXT                 BITMAP "../assets/bitmaps/nextButtonWhite.bmp"

IDB_PAUSE_MASK            BITMAP "../assets/bitmaps/pauseBlack.bmp"
IDB_PAUSE                 BITMAP "../assets/bitmaps/pauseWhite.bmp"

IDB_UNPAUSE_MASK            BITMAP "../assets/bitmaps/unpauseBlack.bmp"
IDB_UNPAUSE                 BITMAP "../assets/bitmaps/unpauseWhite.bmp"

IDB_SOUND_MASK            BITMAP "../assets/bitmaps/soundBlack.bmp"
IDB_SOUND                 BITMAP "../assets/bitmaps/soundWhite.bmp"

IDB_WALL1                BITMAP "../assets/bitmaps/zid11.bmp"
IDB_WALL2                BITMAP "../assets/bitmaps/zid12.bmp"

IDB_DOOR                 BITMAP "../assets/bitmaps/doorWhite.bmp"
IDB_DOOR_MASK            BITMAP "../assets/bitmaps/doorBlack.bmp"
IDB_DOOR_CLOSED          BITMAP "../assets/bitmaps/doorClosedWhite.bmp"
IDB_DOOR_CLOSED_MASK     BITMAP "../assets/bitmaps/doorClosedBlack.bmp"

IDR_MINI_FONT   RCDATA  "../assets/font/KenneyMiniSquare.ttf"

IDB_MENU_SCREEN    BITMAP "../assets/bitmaps/menuBg23.bmp"

IDB_MENU_CHARACTER      BITMAP "../assets/bitmaps/start-screen.bmp"
IDB_MENU_CHARACTER_MASK  BITMAP "../assets/bitmaps/start-screen_mask.bmp"

//IDB_BUTTONS_HOLDER BITMAP "../assets/buttonsholder1.bmp"

//IDB_BUTTONS_HOLDER_MASK BITMAP "../assets/buttonsholder1_mask.bmp"

IDC_GAME_CURSOR   CURSOR   "../assets/cursor/pinkBubble.cur"

IDB_BUTTONS_HOLDER BITMAP "../assets/bitmaps/meni1.bmp"

IDB_BUTTONS_HOLDER_MASK BITMAP "../assets/bitmaps/meni1_mask.bmp"

IDB_MENU_BUTTON      BITMAP "../assets/bitmaps/button.bmp"
IDB_MENU_BUTTON_MASK BITMAP "../assets/bitmaps/button_mask.bmp"

IDB_PLAYER1_MENU    BITMAP  "../assets/bitmaps/player1.bmp"
IDB_PLAYER1_MENU_MASK BITMAP "../assets/bitmaps/player1_mask.bmp"

IDB_PLAYER2_MENU    BITMAP  "../assets/bitmaps/player2.bmp"
IDB_PLAYER2_MENU_MASK BITMAP "../assets/bitmaps/player2_mask.bmp"

IDB_SETTINGS_MENU    BITMAP  "../assets/bitmaps/settings1.bmp"
IDB_SETTINGS_MENU_MASK BITMAP "../assets/bitmaps/settings_mask.bmp"

IDB_YELLOW_BUTTON       BITMAP  "../assets/bitmaps/yellowbutton.bmp"
IDB_YELLOW_BUTTON_MASK  BITMAP  "../assets/bitmaps/yellowbutton_mask.bmp"
IDB_GREEN_BUTTON        BITMAP  "../assets/bitmaps/greenbutton.bmp"
IDB_GREEN_BUTTON_MASK   BITMAP  "../assets/bitmaps/greenbutton_mask.bmp"
IDB_GREY_BUTTON         BITMAP  "../assets/bitmaps/greybutton.bmp"
IDB_GREY_BUTTON_MASK    BITMAP  "../assets/bitmaps/greybutton_mask.bmp"
IDB_BACK_BUTTON         BITMAP  "../assets/bitmaps/yellowButton1.bmp"
IDB_BACK_BUTTON_MASK    BITMAP  "../assets/bitmaps/yellowButtonMask1.bmp"
IDB_MUSICON             BITMAP  "../assets/bitmaps/soundOnWhite.bmp"
IDB_MUSICON_MASK        BITMAP  "../assets/bitmaps/soundOnBlack.bmp"
IDB_MUSIC_HOLDER        BITMAP  "../assets/bitmaps/musicHolderWhite.bmp"
IDB_MUSIC_HOLDER_MASK        BITMAP  "../assets/bitmaps/musicHolderBlack.bmp"
IDB_MUSICON_HOVER          BITMAP "../assets/bitmaps/musicOnHover.bmp"
IDB_MUSIC_OFF          BITMAP "../assets/bitmaps/musicOff.bmp"
IDB_MUSIC_OFF_HOVER          BITMAP "../assets/bitmaps/musicOffHover.bmp"
IDB_SOUNDON             BITMAP    "../assets/bitmaps/soundOn1.bmp"
IDB_SOUNDON_HOVER      BITMAP    "../assets/bitmaps/soundOnHover.bmp"
IDB_SOUNDOFF             BITMAP    "../assets/bitmaps/settingsSoundNone.bmp"
IDB_SOUNDOFF_HOVER            BITMAP    "../assets/bitmaps/soundOffHover.bmp"
IDB_CONTROLS            BITMAP  "../assets/bitmaps/controlsHolderWhite.bmp"
IDB_CONTROLS_MASK       BITMAP  "../assets/bitmaps/controlsHolderBlack.bmp"
IDB_SETTINGS_PLAYER           BITMAP  "../assets/bitmaps/settingsPlayerWhite.bmp"
IDB_SETTINGS_PLAYER_MASK       BITMAP  "../assets/bitmaps/settingsPlayerBlack.bmp"
IDB_PLAYER_HOVER               BITMAP  "../assets/bitmaps/settingsPlayerHover.bmp"
IDB_HERO2                      BITMAP  "../assets/bitmaps/hero2Black.bmp"
IDB_HERO2_MASK                      BITMAP  "../assets/bitmaps/hero2White.bmp"

IDB_LOGO            BITMAP  "../assets/bitmaps/logoo.bmp"
IDB_LOGO_MASK       BITMAP  "../assets/bitmaps/logoo_mask.bmp"

IDR_SLIDING_SOUND  WAVE "../assets/sounds/Sliding-audio.wav"
IDR_DAMAGE_SOUND   WAVE "../assets/sounds/damage.wav"

IDB_LIFEPU_MASK       BITMAP  "../assets/bitmaps/life_powerup_mask.bmp"
IDB_LIFEPU      BITMAP  "../assets/bitmaps/life_powerup.bmp"

IDB_TIMEPU_MASK       BITMAP  "../assets/bitmaps/clock_mask.bmp"
IDB_TIMEPU      BITMAP  "../assets/bitmaps/clock.bmp"
IDB_FREEZEPU      BITMAP  "assets/bitmaps/snowflake.bmp"
IDB_FREEZEPU_MASK BITMAP  "assets/bitmaps/snowflake_mask.bmp"

IDR_MAINICON ICON "../assets/icons/favicon.ico"

